body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* App */

.app-header {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.user-interface-container {
  display: flex;
  justify-content: space-around;
  margin: 1rem 20% 1rem 20%;
}

.vehicle-container {
  display: flex;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  max-width: 50%;
  min-width: 40%;
}

.traffic-container {
  display: flex;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  max-width: 50%;
  min-width: 40%;
}

.change-vehicle-button {
  position: relative;
  margin-right: 0;
  max-height: 3rem;
  border-radius: 2rem;
  cursor: pointer;
}

/* .app-container {
  display: flex;
  justify-content: start;
} */


/* Eighteen Wheeler */

.vehicle-traffic-image {
  height: 20rem;
}

/* Vehicle Status */

.vehicle-status-container {
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  margin: 1rem 20% 1rem 20%;
}